/* 1/- display : flex (obligatoire)   */

/* 80% navbar  justify-content (space-between ==> tkhali espace mabinethom childrens ) */

/* justify-content (space-around) ==> tkhali around  ; (space-envently) ==> */

/* 80% with cards :: flex-direction :: row (x) /colmun (y)   */

/* //// bech t7ot hom fe same niveau ==> align-items : center  */



@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Condensed+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');


body {
  margin: 0px;
  padding: 0px;
  font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
}

/* header  :::*/

header {
  background-color: #1c351d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}
header h5 {
  font-size: 16px;
  color: white;
}

.head-links a {
  text-decoration: none;
  margin: 0px 10px;
  font-weight: bolder;
  font-size: 16px;
  color: white;
}

.head-links a:hover {
  color: black;
}

/* cover ::::::::::::::::*/

.cover {
  background-image: url("./images/cover2.jpg");
  height: 400px;
  background-position: center;
  background-size: cover;
  padding: 150px;
  background-attachment: fixed;
}

.cover h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2.5rem;
  color: white;
}

.cover h1 {
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 2.5rem;
  color: #eeeff3;
}

.cover button {
  background-color: #f0ba07;
  color: black;
  padding: 15px 20px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  border-radius: 8px;
  transition: ease 1s;
  border: #1c351d 10px;
}

.cover button:hover {
  transform: scale(1.1, 1.1);
  color: rgb(232, 231, 231);
  background-color: #1c351d;
}

.social-media-container {
  width: 20%;
  font-size: 30px;
  margin-top: 50px;
}

.social-media-container a {
  margin: 0px 10px;
  color: white;
  transition: ease 1s;
}

.social-media-container a:hover {
  transform: scale(2.1, 2.1);
  color: black;
}

/* ::::::::::::::::::::::::::::::::::::::::::services ::::::::::::::::::::::::::::::::::::::::::*/
/* margin : 10 px (45 faces)
margine : 10 , 20 ==> top and bottom ,,, left and :right */

.card-service {
  width: 25%;
  height: 230px;
  margin: 0px 20px;
  cursor: pointer;
  transition: 1s;
  box-shadow: 1px 1px 20px black;
  padding: 10px;
  border-radius: 8px;
}

.card-service:hover {
  transform: scale(1.1, 1.1);
}

.logo {
    transition: 1s;
}

.card-service:hover .logo {
    transform: rotate(360deg);
}

.service-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.service-section {
  height: 500px;
  /* background-image: linear-gradient(to bottom left , white , black , blue , red); */
}

.service-section h1 {
  text-align: center;
  font-size: 50px;
}

.card-service i {
  font-size: 100px;
}

.logo-container {
  text-align: center;
}

.info {
  margin-top: 60px;
}

.info h5 {
  font-size: 18px;
  text-align: start;
}

.details-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.details-container a {
  font-weight: 900;
}


/* /////////////////////////// projects section //////////////////////////////////// */



.project-card{
box-shadow: 1px 1px 20px #1c351d;
    width: 20%;
    margin: 20px;
    cursor: pointer;
 
}

.project-card img {
    width: 100%;
}


.project-card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project-section h1 {
    text-align: center;
    font-size: 50px;
}

.web-site-description{
    margin-left: 5px;
}

.details{
margin-left: 120px;
}

/* /////////////////////// contact section ::::  //////////////// */
.contact{
  margin: 200px 0px;
}
.contact h1 {
    text-align: center;
    font-size: 50px;

}

.contact-card{
  width: 20%;
  margin: 0px 20px;
  height: 200px;
  border-radius: 10px;
  padding: 50px;
  box-shadow: 1px 1px 10px black;
  transition: 1s;
  cursor: pointer;
  
}

.contact-card:hover {
  transform: scale(1.1,1.1);
}

.contact-card-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.logo-contact-container{
  font-size: 6rem;
  text-align: center;
}
.contact-card p {
  text-align: center;
  margin-top: 60px;
  font-size: 25px;
  font-weight: 700;
}



/* ////////////////////////////////////////////footer/////////////////////////////////////////////// */

footer {
    background-color: #1c351d;
    color: white;
    display: flex;
    justify-content: space-between;
     height: 60px;
     align-items: center;
}



.social-media-footer a {
    font-size: 20px;
    color: white;
    margin: 0px 10px;
}



@media (max-width : 420px){
 .service-cards-container{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .card-service{
    width: 50%;
    margin-bottom: 20px;
 }

 .service-section{
    margin-bottom: 500px;
    margin-top: 100px;
 }
 .cover h1  {
    font-size: 20px;
   color: black;
 }
 .cover h2  {
    font-size: 20px;
 }
}